html, body {width: 960px;
margin-left:auto;
  margin-right:auto;
    height:auto;}
footer{
height: 70px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(214, 202, 95);
    padding-top: 15px;
}
#nav_bar img{
    height:75px;
    width: 220px;
    float: left;
 margin: 3px;
 
}
#nav_bar h1{
   font-style: italic;
font-size: 22px;
float: left;
text-decoration: none;
margin-right: 50px;
padding-left: 20px;
}

#nav_bar a{
    font-size: 18px;
    float: left;
    padding-top: 30px;
    height:55px ;
   
}
#nav_bar{
    
    height: 85px;
    width: 960px;
    background-color: rgb(214, 202, 95);

}
#nav_bar a:hover{
    background-color:rgb(196, 21, 21); 
    color: white;
}


li{
    list-style-type: none;

}
a{
    font-size: 15px;
    text-decoration:none;
    float:left;
    margin-right: 27px;
    text-align: right;
    text-transform: uppercase;

}
h1{
    text-transform: uppercase;
    padding-top: 0px;
    font-size: 17px;
    text-align: center;
    text-decoration-line: underline;
}
a:Hover {
 color:rgb(196, 21, 21);
 font-size: 25px;
    }
    #image{
        padding-top: 15px;
        height:350px;
        width:550px;
        float: left;
    }
    #text{
        height:250px;
        width: 410px;
        float: right;
        padding-top: 15px;
    }
    p2{
        font-size: 16px;
        line-height:1.5;
        text-align: justify;
    }
    p{
        float: right;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }
    p1{
        font-size: 10px;
        text-align: justify;
    }