html, body {width: 960px;
    margin-left:auto;
  margin-right:auto;
    height:1400px;}

header{
    height: 70px;
    text-align: center;
    font-size: 40px;
    background-color: rgb(212, 158, 77);
    padding-top: 15px;
}
footer{
height: 70px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(212, 158, 77);
    padding-top: 15px;
}

.nav{
    height: 35px;
    padding-top: 10px;
    background-color: rgb(206, 116, 186);
}


a{
    font-size: 20px;
    text-decoration:none;
    float:left;
    margin-right: 50px;
    text-align: right;
}
h1{
    text-transform: uppercase;
    padding-top: 0px;
    font-size: 17px;
    text-align: center;
    text-decoration-line: underline;
}
a:Hover {
 color:rgb(161, 15, 15);
 font-size: 25px;
    }
    #image{
        padding-top: 15px;
        height:350px;
        width:550px;
        float: left;
    }
    #text{
        height:250px;
        width: 410px;
        float: right;
        padding-top: 15px;
    }
    p2{
        font-size: 16px;
        line-height:1.5;
        text-align: justify;
    }
    p{
        float: right;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }
    p1{
        font-size: 10px;
        text-align: justify;
    }